Level(
    name: "",
    layers: 2,
    terminuses: [
        // left
        Terminus(
            point:    Vec2(-240.0, 144.0),
            emits:    [PixieFlavor(color: 0, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-240.0, 48.0),
            emits:    [PixieFlavor(color: 1, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-240.0, -48.0),
            emits:    [PixieFlavor(color: 2, net: 0)],
            collects: [],
        ),
        // right
        Terminus(
            point:    Vec2(240.0, 144.0),
            emits:    [],
            collects: [PixieFlavor(color: 2, net: 0)],
        ),
        Terminus(
            point:    Vec2(240.0, 48.0),
            emits:    [],
            collects: [PixieFlavor(color: 1, net: 0)],
        ),
        Terminus(
            point:    Vec2(240.0, -48.0),
            emits:    [],
            collects: [PixieFlavor(color: 0, net: 0)],
        ),
    ],
    obstacles: [],
    star_thresholds: [500, 600, 675],
)