Level(
    terminuses: [
        // left
        Terminus(
            point:    Vec2(-240.0, 144.0),
            emits:    [PixieFlavor(color: 0, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-240.0, -48.0),
            emits:    [PixieFlavor(color: 1, net: 0)],
            collects: [],
        ),
        // right
        Terminus(
            point:    Vec2(240.0, 48.0),
            emits:    [],
            collects: [PixieFlavor(color: 0, net: 0),PixieFlavor(color: 1, net: 0)],
        ),
    ],
    obstacles: [
        Rect(Vec2(96.0, 0.0), Vec2(144.0, -96.0)),
        Rect(Vec2(144.0, -48.0), Vec2(336.0, -96.0)),
        Rect(Vec2(336.0, 192.0), Vec2(384.0, -96.0)),
        Rect(Vec2(144.0, 192.0), Vec2(336.0, 144.0)),
        Rect(Vec2(96.0, 192.0), Vec2(144.0, 96.0))
    ],
    star_thresholds: [1, 400, 810],
)