Level(
    name: "Layers",
    name_position: Vec2(-288.0, 336.0),
    layers: 2,
    terminuses: [
        // left
        Terminus(
            point:    Vec2(-240.0, 144.0),
            emits:    [PixieFlavor(color: 0, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-240.0, -48.0),
            emits:    [PixieFlavor(color: 2, net: 0)],
            collects: [],
        ),
        // right
        Terminus(
            point:    Vec2(240.0, 144.0),
            emits:    [],
            collects: [PixieFlavor(color: 2, net: 0)],
        ),
        Terminus(
            point:    Vec2(240.0, -48.0),
            emits:    [],
            collects: [PixieFlavor(color: 0, net: 0)],
        ),
    ],
    obstacles: [
        Rect((288.0, 336.0), (624.0, -288.0)),
        Rect((-624.0, 336.0), (-288.0, -288.0)),
    ],
    star_thresholds: [1, 500, 700],
)