Level(
    terminuses: [
        Terminus(
            point:    Vec2(-576.0, -192.0),
            emits:    [0],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, -96.0),
            emits:    [5],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 0.0),
            emits:    [2],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 96.0),
            emits:    [3],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 192.0),
            emits:    [5],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 288.0),
            emits:    [4],
            collects: [],
        ),
        // top
        Terminus(
            point:    Vec2(-192.0, 336.0),
            emits:    [1],
            collects: [],
        ),
        Terminus(
            point:    Vec2(0.0, 336.0),
            emits:    [2],
            collects: [],
        ),
        Terminus(
            point:    Vec2(192.0, 336.0),
            emits:    [1],
            collects: [],
        ),
        // bottom
        Terminus(
            point:    Vec2(-192.0, -240.0),
            emits:    [],
            collects: [2],
        ),
        Terminus(
            point:    Vec2(0.0, -240.0),
            emits:    [],
            collects: [0],
        ),
        Terminus(
            point:    Vec2(192.0, -240.0),
            emits:    [],
            collects: [1],
        ),
        // right
        Terminus(
            point:    Vec2(576.0, -192.0),
            emits:    [],
            collects: [3],
        ),
        Terminus(
            point:    Vec2(576.0, -96.0),
            emits:    [],
            collects: [4],
        ),
        Terminus(
            point:    Vec2(576.0, 0.0),
            emits:    [],
            collects: [3],
        ),
        Terminus(
            point:    Vec2(576.0, 96.0),
            emits:    [],
            collects: [0],
        ),
        Terminus(
            point:    Vec2(576.0, 192.0),
            emits:    [],
            collects: [4],
        ),
        Terminus(
            point:    Vec2(576.0, 288.0),
            emits:    [],
            collects: [5],
        )
    ],
    obstacles: [
        Rect(Vec2(-336.0, 240.0), Vec2(-288.0, 96.0)),
        Rect(Vec2(-288.0, 240.0), Vec2(-192.0, 192.0)),
        Rect(Vec2(288.0, 0.0), Vec2(336.0, -144.0)),
        Rect(Vec2(192.0, -96.0), Vec2(288.0, -144.0))
    ],
    star_thresholds: [400, 600, 650],
)