Level(
    terminuses: [
        Terminus(
            point:    Vec2(-576.0, -192.0),
            emits:    [PixieFlavor(color: 0, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, -96.0),
            emits:    [PixieFlavor(color: 5, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 0.0),
            emits:    [PixieFlavor(color: 2, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 96.0),
            emits:    [PixieFlavor(color: 3, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 192.0),
            emits:    [PixieFlavor(color: 5, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-576.0, 288.0),
            emits:    [PixieFlavor(color: 4, net: 0)],
            collects: [],
        ),
        // top
        Terminus(
            point:    Vec2(-192.0, 336.0),
            emits:    [PixieFlavor(color: 1, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(0.0, 336.0),
            emits:    [PixieFlavor(color: 2, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(192.0, 336.0),
            emits:    [PixieFlavor(color: 1, net: 0)],
            collects: [],
        ),
        // bottom
        Terminus(
            point:    Vec2(-192.0, -240.0),
            emits:    [],
            collects: [PixieFlavor(color: 2, net: 0)],
        ),
        Terminus(
            point:    Vec2(0.0, -240.0),
            emits:    [],
            collects: [PixieFlavor(color: 0, net: 0)],
        ),
        Terminus(
            point:    Vec2(192.0, -240.0),
            emits:    [],
            collects: [PixieFlavor(color: 1, net: 0)],
        ),
        // right
        Terminus(
            point:    Vec2(576.0, -192.0),
            emits:    [],
            collects: [PixieFlavor(color: 3, net: 0)],
        ),
        Terminus(
            point:    Vec2(576.0, -96.0),
            emits:    [],
            collects: [PixieFlavor(color: 4, net: 0)],
        ),
        Terminus(
            point:    Vec2(576.0, 0.0),
            emits:    [],
            collects: [PixieFlavor(color: 3, net: 0)],
        ),
        Terminus(
            point:    Vec2(576.0, 96.0),
            emits:    [],
            collects: [PixieFlavor(color: 0, net: 0)],
        ),
        Terminus(
            point:    Vec2(576.0, 192.0),
            emits:    [],
            collects: [PixieFlavor(color: 4, net: 0)],
        ),
        Terminus(
            point:    Vec2(576.0, 288.0),
            emits:    [],
            collects: [PixieFlavor(color: 5, net: 0)],
        )
    ],
    obstacles: [
        Rect(Vec2(-336.0, 240.0), Vec2(-288.0, 96.0)),
        Rect(Vec2(-288.0, 240.0), Vec2(-192.0, 192.0)),
        Rect(Vec2(288.0, 0.0), Vec2(336.0, -144.0)),
        Rect(Vec2(192.0, -96.0), Vec2(288.0, -144.0))
    ],
    star_thresholds: [300, 350, 400],
)