Level(
    terminuses: [
        // left
        Terminus(
            point:    Vec2(-576.0, 96.0),
            emits:    [PixieFlavor(color: 3, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-480.0, 96.0),
            emits:    [PixieFlavor(color: 4, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-384.0, 96.0),
            emits:    [PixieFlavor(color: 2, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-288.0, 96.0),
            emits:    [PixieFlavor(color: 0, net: 0)],
            collects: [],
        ),
        Terminus(
            point:    Vec2(-192.0, 96.0),
            emits:    [PixieFlavor(color: 1, net: 0)],
            collects: [],
        ),
        // right
        Terminus(
            point:    Vec2(576.0, -0.0),
            emits:    [],
            collects: [PixieFlavor(color: 2, net: 0)],
        ),
        Terminus(
            point:    Vec2(480.0, 0.0),
            emits:    [],
            collects: [PixieFlavor(color: 3, net: 0)],
        ),
        Terminus(
            point:    Vec2(384.0, -0.0),
            emits:    [],
            collects: [PixieFlavor(color: 1, net: 0)],
        ),
        Terminus(
            point:    Vec2(288.0, 0.0),
            emits:    [],
            collects: [PixieFlavor(color: 0, net: 0)],
        ),
        Terminus(
            point:    Vec2(192.0, -0.0),
            emits:    [],
            collects: [PixieFlavor(color: 4, net: 0)],
        ),
    ],
    obstacles: [
        Rect(Vec2(-624.0, 48.0), Vec2(-144.0, -288.0)),
        Rect(Vec2(144.0, 48.0), Vec2(624.0, 336.0)),
        // blockers
        Rect(Vec2(-536, 48), Vec2(-520, 104)),
        Rect(Vec2(-440, 48), Vec2(-426, 104)),
        Rect(Vec2(-344, 48), Vec2(-328, 104)),
        Rect(Vec2(-248, 48), Vec2(-232, 104)),
        Rect(Vec2(536, 48),  Vec2(520, -8)),
        Rect(Vec2(440, 48),  Vec2(424, -8)),
        Rect(Vec2(344, 48),  Vec2(328, -8)),
        Rect(Vec2(248, 48),  Vec2(232, -8)),
    ],
    star_thresholds: [300, 450, 500],
)